.grid-container{
    display: grid;
    grid-template-columns: 1fr 27fr 13fr 1fr;
    grid-template-rows: 50em 1fr 700px;
    }

    .mellanrum{
        margin: 0;
       background-color:rgb(92, 5, 73);
       }

       .brposter{
        background-image: url(Bladerunner2049bild.jpg);
        background-size: cover;
       }