body{
   background-color:#2F2F2F
}

.ooo{
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

input[type="submit"] 
{
    border-radius: 14px;
    width: 90px;
    height: 30px;
    background: #ceff1d

}
