body{
    margin: 0; /*Ser till att det inte är någon äcklig vit ram runt sidan.*/
}
.navbar { 
    overflow: hidden; /*Den ska täcka */
    background-color: rgb(32, 33, 41); /*backgrundsdärg.*/
    display: fixed;
    position: sticky;
    top: 0;
    padding-top: 0%;
}

nav > ul{
    display: flex; /**/
     list-style-type: none;/*Inga prickar eller kvadrater osv.*/
    flex-wrap: wrap;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif; /*fonten jag ville ha.*/
    margin: 0;
    
   
}
nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

.navbar a {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn { 
    background-color: rgb(6, 7, 8);
    text-decoration: underline;
    color:rgb(255, 202, 133);
    transition: background-color 0.5s, color 0.5s;
    
}

@media screen and (max-width: 700px) { 
    nav> ul{
        flex-direction: column;
    }

    
}