body{
    margin: 0;
    background-color: rgb(51, 26, 26);
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
    grid-template-rows: 35em 1fr 700px;
    }

    .mellanrum{
     margin: 0;
    background-color:rgb(51, 26, 26);
    }

    .videoarea{
        background: rgb(204, 204, 204);
        padding-left: 118px;
        border: 2px solid black;

    }

    .info{
        background: rgb(204, 204, 204); /*färg i röd,grön och blå*/
        padding-left: 20px; /*trycker texten innåt åt vänster*/
    padding-right: 20px;/*trycker texten innåt åt höger*/
    border: 2px solid black;
        
    }

    .titel{
        padding-left: 20px; /*trycker texten innåt åt vänster*/
        padding-right: 20px;/*trycker texten innåt åt höger*/
        font-family:Arial, Helvetica, sans-serif;
        text-decoration: underline;
        font-size: 32px;
    }
    .paragraph{
        padding-left: 20px; /*trycker texten innåt åt vänster*/
        padding-right: 20px;/*trycker texten innåt åt höger*/
        font-family:Arial, Helvetica, sans-serif;
        font-size: 27;
        
    }
    
    
    