.grid-container{
    display: grid;
    grid-template-columns: 1fr 17fr 23fr 1fr;
    grid-template-rows: 56em 240px ;
    }

    body{
        margin: 0;
        background-image: url("br20.jpg"); /*bakgrunden ska vara en bild*/
        background-size: initial; /*Odefinerat men jag har kvar den för att.*/
    }

    .sec3{
        grid-column: 3/4;
        margin: 0;
        background-color:rgb(255, 255, 255); /*färg*/
        border-style: solid;
        border-width: 1px;
        border-top: white;
        padding-left: 20px ;
        

        border-bottom-right-radius: 20px;
        
        
    }

       .brposter{
        background-image: url(Bladerunner2049bild.jpg);
        background-size: cover;
        grid-column: 2/3;
        border-bottom-left-radius: 20px;

       }

       @media screen and (max-width: 800px) {
        .grid-container{
            grid-template-columns: 1fr ;
           grid-template-rows: 55em 1fr ;
        }
        .brposter{
      grid-column: 1;
      border-radius: 0;
    }
    .sec3{
        
        grid-column: 1;
        border-radius: 0;
    }
        }

        
       