body{
   background-color:rgb(83, 73, 55)
}

.ooo{
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

input[type="submit"] {
    border-radius: 6px;
    width: 90px;
    height: 30px;
    background: tomato;

}
