body{
    margin: 0;
    background-image: url("cinema.jpg");
    
}
.grid-container{
display: grid;
grid-template-columns: 1fr 40fr 1fr; /*en column som är liten, en stor, en till liten*/
grid-template-rows: 35em 1em 500px; /*En rad 35ggr större än den andra och en rad som är 500px hög.*/
}

.picture{
    grid-area: 1 / 2 / 2 / 3 ; /*vilka rutor bilden täcker/befinner sig i.*/
    background-image: url(Batmancar.jpg); /*Bakgrundsbilden i en av rutorna*/
    background-size: cover; /*Ska täcka, så den inte dubblas, tripplas osv.*/
    
    
}

.description{ /*Den vita rutan där det ska stå text i*/
    background: rgb(255, 255, 255); /*färg i röd,grön och blå*/
    font-family:Arial, Helvetica, sans-serif; /*font*/
    padding-left: 20px; /*trycker texten innåt åt vänster*/
    padding-right: 20px;/*trycker texten innåt åt höger*/
    border: 2px solid black;
   
    
   
   
}



.fot{
    margin: 0; /*ingen margin/inget som trycker innåt.*/
    background-color:rgb(0, 0, 0); /*Färg i röd,grön,blå.*/
    color: azure; /*fär till texten.*/
    
}

table{
    width: 100%; /*bredd i procent*/
    padding-left: 30px; /*hur hela tabellen trycks innåt åt vänster*/
    padding-top: 14px; /*samma fast åt höger.*/
}

td{
    padding-left: 30px;
}





